/* --- Styles tableaux --- */
.table-header{
  background-color: #20DF7F !important;
  color: #093545 !important;
  font-weight: bold;
}
.table-custom td,
.table-custom th {
  border: none !important;
}

/* Pour rendre les tableaux plus jolis */
.table-custom {
  border-radius: 8px;
  width: 950px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  background-color: #FFFFFF;
}

/* les diferentes couleurs du figma */
.couleur{
    color: #093545;
    color: #EDEDEE;
    color: #20DF7F;
    color: #FF5959;
    color: #FFFFFF;
    color: #ECECED;
}
 .cards1{
  background-color: #20DF7F !important;
}
.paragraphe{
    color: #093545;
}


/* Style par défaut */
.cards1, .cards2, .cards3 {
  transition: all 0.3s ease; /* Pour un effet doux */
}

/* Style quand la card est active */
.cards1.active, .cards2.active, .cards3.active {
  background-color: #20DF7F !important;
  color: #FFFFFF !important;
}

.cards1.active p, .cards2.active p, .cards3.active p {
  color:#FFFFFF !important;
}
.bi-ban{
  color: #FF5959;
}
.header,th {
  background-color: #20DF7F !important;
  color:#093545 !important; 
   box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}
.text-green{
  color:#093545 !important;
  /* font-weight: bold; */
}
.text-primary{
  color: #093545 !important;
}
.text-success{
  color: #20DF7F !important ;
}
.bg-success{
  background-color: #20DF7F !important;
}
/* .bg-secondary{
   background-color: #20DF7F !important;

} */
 .text-danger{
  color: #FF5959 !important ;
 }
 .btn-dark{
  background-color: #093545 !important;
  border-radius: 10px !important;
 }
 .me-5{
  margin-right: 90px !important;
 }
 .btn-success{
  background-color: #20DF7F;
  border: none;
 }